<% provide(:title, "About") %>
<body>

  <section id="sec01">
  	<header>
  		<h2>事業概要</h2>
  	</header>

  	<div class="inner">
  		<ul class="col2">
  			<li>
  				<%= image_tag 'circle.png' %>
  			</li>
  			<li>
  				<p class="text">
            当社は、契約農家さんのお米を当サイトにて販売します。その際に、購入希望者の情報を生産者に伝え、その場で精米したお米を消費者に発送してもらいます。<br>
            直接生産者と消費者をつなぐため、産地直送のお米を届けることができます。<br>
            そのため、生産者の顔がわかり安心していただくことができます。
  				</p>
  			</li>
  		</ul>
  	</div>
  </section>

  <section id="sec01">
  	<header>
  		<h2>コンセプト</h2>
  	</header>

  	<div class="inner">
  		<ul class="col2">
  			<li>
  				<%= image_tag 'graph.png' %>
  			</li>
  			<li>
          <header>
        		<h3>熟成米</h3>
        	</header>
  				<p class="text">
            熟成米は3種類、コシヒカリ・ヒノヒカリ・ひとめぼれです。<br>
            中山間地域の綺麗な水と肥沃な大地からとれたお米を熟成させました。より甘く、旨味のあるお米を是非ご賞味ください。
  				</p>
  			</li>
  		</ul>
      <br>
      <ul class="col2">
  			<li>
  				<%= image_tag 'graph2.png' %>
  			</li>
  			<li>
          <header>
        		<h3>新米</h3>
        	</header>
  				<p class="text-center">
            〜未来のVIP米を創出する〜
          </p>
          <p class="text">
            お米マイスターや食味鑑定士も認めた、隠れた名米をECサイトを活用したプロモーションで将来のVIP米にします。<br>
            通常、市場に出回りにくいお米も扱っておりますので、生産者こだわりのお米を是非ご賞味ください。
  				</p>
  			</li>
  		</ul>
      <br>
      <ul>
        <header>
          <h3>体験</h3>
        </header>
        <p class="text-center">
          Coming soon
        </p>
      </ul>
  	</div>
  </section>


</body>
