<% provide(:title, "Brand") %>
<body>

<section>
  <header>
  	<h2>会社名に込められた思い</h2>
  </header>
  <div class="brand-container">
    農家だった祖父母は重労働に苦労し、生計を立てるのに必死でした。<br>
    消費者に農作物に込められた生産者の思いや苦労を知ってほしい。
    そして、生産の物語も含めて農業の魅力を感じてほしい。
    生産者と消費者を農業でつなぎ、そこに笑顔を咲かせたい。<br><br>
    そうして、笑顔から『Smile』と名付けました。
    読み方は『すみれ』、花言葉は『田園の幸せ』です。<br><br>
    農業を魅力的な産業にすることで耕作放棄地をなくし、田園も笑顔にしたい。<br>
    そんな思いを会社名、『Smile』に込めました。
  </div>

  <div class="vision-container">
    <header id="vision-mission">
    	<h2>私たちのVISION・MISSION</h2>
    </header>
    <div class="message">
      <p class="vison-mission">
        農業においては従事者の高齢化・耕作放棄地の増加などが問題となっています。<br>
        その中でも、就農者の平均年齢は平成29年には66.7歳(*)となり、<br>
        10年、20年後を想像すると、農業はより衰退していくことが考えられます。<br>
        原因としては、農業の収入が低くなりやすく、<br>
        都市部での仕事に比べ面白くないと考える人が多いことが挙げられます。<br>
        そのため、私達は生産者と消費者を直接つなぐことで、農家さんの利益を最大化し、<br>
        消費者が農業を身近に感じ、産地直送のおいしい農産物を食べられるようにします。<br>
        また、体験によって農業の面白さに触れることで、その魅力を多くの人に感じてもらいたいです。<br>
        その結果、本事業を通じて農業が魅力的な産業になることを目指しています。<br>
        * 新規就農者調査（農林水産省統計部)
      </p>
    </div>

    <header id="vision">
    	<h2>VISION</h2>
    </header>
    <div class="message">
      <p class="vision">農業が魅力的で誰もが従事したいと思える産業にします</p>
    </div>

    <header id="mission">
    	<h2>MISSION</h2>
    </header>
    <div class="message">
      <p class="mission">
        ◉農産物の価値を高め、農家の利益を最大します<br>
        ◉農家と消費者のコミュニケーションによって、農業を再認識します<br>
        ◉都市から地方へ、人の流動性を高め、地方分権に貢献します<br>
      </p>
    </div>
  </div>



</section>

</body>
