<% provide(:title, "Contact") %>
<body>
  <section id="sec01">
    <h2>事前予約<h2>

    <div class="form-style-2">
      <form action="https://formspree.io/rice.smile.co@gmail.com" method="post">
        <label for="name">
          <span>お名前 <span class="required">*</span></span>
          <input type="text" class="input-field" name="name" value="" />
        </label>
        <label for="email">
          <span>メールアドレス <span class="required">*</span></span>
          <input type="text" class="input-field" name="email" value="" />
        </label>
        <label>
          <span>電話番号<span class="required">*</span></span>
          <input type="text" class="tel-number-field" name="tel_no_1" value="" maxlength="4" />-<input type="text" class="tel-number-field" name="tel_no_2" value="" maxlength="4"  />-<input type="text" class="tel-number-field" name="tel_no_3" value="" maxlength="10"  />
        </label>
        <label>
          <span>ご職業</span>
          <select name="work">
          <option value="学生">学生</option>
          <option value="社会人">社会人</option>
          <option value="主婦">主婦</option>
          </select>
        </label>
        <label>
          <span>購入希望商品<span class="required">*</span></span>
          <select name="product">
          <option value="島根仁多米コシヒカリ 700-900円/kg">島根仁多米コシヒカリ 700-900円/kg</option>
          <option value="島根隠岐郡海士町 海士の本氣米コシヒカリ 700-900円/kg">島根隠岐郡海士町 海士の本氣米コシヒカリ 700-900円/kg</option>
          <option value="鳥取県奥大山江府町きぬむすめ 700円-900円/kg">鳥取県奥大山江府町きぬむすめ 700円-900円/kg</option>
          <option value="群馬県川場村産コシヒカリ(雪ほたか) 780円/kg">群馬県川場村産コシヒカリ(雪ほたか) 780円/kg</option>
          <option value="京都府産にこまる(変更あり) 500円-600円/kg">京都府産にこまる(変更あり) 500円-600円/kg</option>
          </select>
        </label>
        <label>
          <span>米の種類<span class="required">*</span></span>
          <select name="rice">
          <option value="白米">白米</option>
          <option value="玄米">玄米</option>
          </select>
        </label>
        <label>
          <span>重量<span class="required">*</span></span>
          <select name="weight">
          <option value="2kg">2kg</option>
          <option value="5kg">5kg</option>
          <option value="10kg">10kg</option>
          </select>
        </label>
        <label>
          <span>数量<span class="required">*</span></span>
          <select name="number">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          </select>
        </label>
        <label for="free">
          <span>自由記述欄 </span>
          <textarea name="free" class="textarea-field"></textarea>
        </label>

        <label>
          <span>&nbsp;</span>
          <input type="submit" value="送信" />
        </label>
      </form>
    </div>
    <%= link_to 'トップページへ', root_path, class:"to-top" %>
  </section>
</body>
