<% provide(:title, "Chugoku") %>
<body>
  <section>
    <header>
  		<h2>中国地方</h2>
  	</header>

    <div class="inner">
    	<ul class="col3">
    		<li>
    			<h2><%= link_to "島根県仁多産コシヒカリ", "/hakumaiShimaneNita" %></h2>
    		</li>
    		<li>
    			<h2><%= link_to "鳥取県江府町きぬむすめ", "/hakumaiTottoriKohu" %></h2>
    		</li>
    		<li>
    			<h2><%= link_to "島根県本気米コシヒカリ", "/hakumaiShimaneHonki" %></h2>
    		</li>
    	</ul>
    </div>
  </section>
</body>
