<% provide(:title, "Hokakido") %>
<body>

<section id="sec03">
  <header>
		<h2>一言</h2>
	</header>

  <header>
		<h2><%= link_to "購入", 'products/1' %></h2>
	</header>

  <div class="inner">
  	<ul class="col3">
  		<li>
  			<h2><%= link_to "ストーリー", hokkaido_path %></h2>
  		</li>
  		<li>
  			<h2><%= link_to "???", hokkaido_path %></h2>
  		</li>
  		<li>
  			<h2><%= link_to "感想", hokkaido_path %></h2>
  		</li>
  	</ul>
  </div>
</section>

</body>
