<% provide(:title, "New") %>
<body>


<div class="mapcontainer-pc">
  <!-- PC用 -->
  <div class="innermap" id="map-pc"></div>
  <div class="mapdetail" id="text"></div>
</div>

<div class="mapcontainer-phone">
  <!-- スマホ用 -->
  <div class="innermap" id="map-phone"></div>
  <!-- <div class="mapdetail" id="text"></div> -->
</div>



</body>
