<% provide(:title, "New") %>
<body>

  <section id="sec01">
  	<header>
  		<h2>新米<br>未来のVIP米を創出する。</h2>
  	</header>
  	<div class="inner">
  		<ul class="col2">
  			<li>
  				<%= image_tag 'graph2.png' %>
  			</li>
  			<li>
  				<p class="text">
            お米マイスターや食味鑑定士も認めた、隠れた名米をECサイトを活用したプロモーションで将来のVIP米にします。<br>
            通常、市場に出回りにくいお米も扱っておりますので、生産者こだわりのお米を是非ご賞味ください。
  				</p>
  			</li>
  		</ul>
  	</div>
  </section>

  <div class="mapcontainer-pc">
    <!-- PC用 -->
    <div class="innermap" id="map-pc"></div>
    <div class="mapdetail" id="text"></div>
  </div>

  <div class="mapcontainer-phone">
    <!-- スマホ用 -->
    <div class="innermap" id="map-phone"></div>
    <!-- <div class="mapdetail" id="text"></div> -->
  </div>



</body>
