<% provide(:title, "New") %>
<body>

  <section id="sec01">
  	<header>
  		<h2>新米</h2>
      <h3>未来のVIP米を創出する。</h3>
  	</header>
    <br>
  	<div class="inner">
  		<ul class="col2">
  			<li>
  				<%= image_tag 'graph2.png' %>
  			</li>
  			<li>
  				<p class="text">
            お米マイスターや食味鑑定士も認めた、隠れた名米をECサイトを活用したプロモーションで将来のVIP米にします。<br>
            通常、市場に出回りにくいお米も扱っておりますので、生産者こだわりのお米を是非ご賞味ください。
  				</p>
  			</li>
  		</ul>
  	</div>
  </section>

  <section>
    <ul class="map-col2">
      <li>
      <div class="imagemap-container"><%= image_tag "map-1.png", usemap: "#ImageMap", alt: "日本地図", id: "ImageMap" %></div>
        <map name="ImageMap">
          <area shape="poly" coords="466,11,457,16,465,39,460,67,452,75,453,94,446,100,428,91,424,94,430,103,410,118,408,130,417,143,417,160,422,160,430,146,439,148,444,148,419,131,425,120,432,119,439,127,459,116,501,141,501,130,527,101,544,103,554,97,562,95,569,90,558,91,554,76,559,59,559,54,546,70,506,56,467,12,467,12" href="/hokkaido" alt="" region="hokkaido" id="hokkaido"/>
          <area shape="rect" coords="51,66,248,218" href="/hokkaido" alt="" region="tohoku" />
          <area shape="poly" coords="440,160,455,162,453,194,463,204,471,232,458,249,453,269,438,275,440,316,429,320,417,310,404,319,400,313,412,298,411,278,402,273,418,225,411,213,415,203,415,191,424,185,426,172,431,173,432,186,447,181,447,166,437,169,440,160,440,160" href="/hokkaido" alt="" region="tohoku" />
          <area shape="poly" coords="418,316,428,325,439,320,426,350,435,363,425,367,425,379,412,387,412,380,420,370,414,363,403,368,404,378,398,374,391,378,388,375,392,366,383,355,379,337,396,323,406,323,418,316,418,315" href="/hokkaido" alt="" region="kanto" />
          <area shape="poly" coords="399,276,407,280,407,297,396,312,401,319,393,317,374,333,378,357,387,365,383,372,371,373,365,364,357,374,349,376,345,364,350,357,347,333,325,338,319,356,306,363,300,369,296,368,305,363,305,349,324,328,324,308,336,304,336,307,326,310,327,319,331,319,333,327,343,327,369,315,399,276,399,276" href="/hokkaido" alt="" region="hokuriku" />
          <area shape="poly" coords="345,338,347,357,340,366,346,382,359,379,366,371,369,378,383,377,389,390,384,398,381,393,384,384,374,384,363,398,337,399,323,384,317,398,327,407,327,412,311,415,304,427,301,424,310,409,306,400,315,395,318,385,317,372,310,366,324,362,327,342,344,337,344,337" href="#" alt="" region="tokai" />
          <area shape="poly" coords="306,368,312,371,314,384,310,395,303,400,306,407,297,425,300,431,299,437,289,435,282,415,292,402,290,396,262,392,259,395,264,379,258,367,282,365,300,375,300,375" href="/hokkaido" alt="" region="kinki" />
          <area shape="poly" coords="253,366,258,378,254,395,211,410,202,405,195,419,185,414,165,415,165,409,174,408,219,373,255,366,255,366" href="/hokkaido" alt="" region="chugoku" />
          <area shape="poly" coords="240,418,239,412,251,408,264,418,266,428,255,443,243,436,225,441,222,458,212,459,204,438,217,419,228,424,238,421,238,421" href="/hokkaido" alt="" region="shikoku" />
          <area shape="poly" coords="127,446,163,425,167,437,180,435,183,437,177,445,182,449,189,449,191,460,179,477,177,504,174,506,167,503,164,506,166,512,160,515,157,497,150,502,151,512,147,510,148,502,145,489,158,471,148,449,140,450,140,459,133,463,128,448,128,448" href="/hokkaido" alt="" region="kyushu" />
        </map>
      </li>
    </ul>
  </section>

</body>
