<% provide(:title, "New") %>
<body>

  <section id="sec01">
  	<header>
  		<h2>新米</h2>
      <h3>未来のVIP米を創出する。</h3>
  	</header>
    <br>
  	<div class="inner">
  		<ul class="col2">
  			<li>
  				<%= image_tag 'graph2.png' %>
  			</li>
  			<li>
  				<p class="text">
            お米マイスターや食味鑑定士も認めた、隠れた名米をECサイトを活用したプロモーションで将来のVIP米にします。<br>
            通常、市場に出回りにくいお米も扱っておりますので、生産者こだわりのお米を是非ご賞味ください。
  				</p>
  			</li>
  		</ul>
  	</div>
  </section>

  <p><%= image_tag "map-1.png", usemap: "#ImageMap", alt: "日本地図", id: "ImageMap" %></p>
  <map name="ImageMap">
    <area shape="poly" coords="463,10,452,90,413,115,418,158,437,148,423,123,459,115,503,139,567,90,567,90" href="/hokkaido" alt="hokkaido" region="hokkaido" />
    <area shape="poly" coords="423,172,414,219,404,271,411,284,403,309,403,316,419,310,430,315,440,314,437,274,451,271,472,230,454,194,451,163,447,163,441,159,441,159" href="#ImageMap" alt="tohoku" region="tohoku" />
    <area shape="poly" coords="416,315,405,323,395,318,381,335,382,354,392,363,391,375,402,373,415,358,421,369,413,383,423,380,432,359,425,345,437,322,437,322" href="#" alt="kanto" region="kanto" />
    <area shape="poly" coords="400,277,372,310,372,314,339,326,328,311,328,306,324,320,316,337,305,350,309,360,318,359,323,337,347,332,351,357,348,366,351,377,364,367,374,370,382,372,386,367,372,335,395,316,407,294,407,280,407,280" href="#" alt="hokuriku" region="hokuriku" />
    <area shape="poly" coords="343,338,327,341,323,359,310,364,316,372,316,389,307,398,308,403,304,423,313,412,322,408,316,399,326,377,334,390,338,397,359,396,369,382,379,379,381,391,384,394,389,385,384,378,366,378,366,376,345,383,342,368,342,368" href="#" alt="tokai" region="tokai" />
    <area shape="poly" coords="304,367,294,371,281,363,259,367,261,379,260,391,287,395,284,412,287,430,296,436,297,430,297,416,304,404,299,397,310,390,312,374,312,373,305,366,305,366" href="#" alt="kinki" region="kinki" />
    <area shape="poly" coords="254,367,219,374,176,406,167,406,167,414,185,414,197,418,202,405,211,407,259,394,257,371,257,371" href="#" alt="chugoku" region="chugoku" />
    <area shape="poly" coords="203,438,210,460,220,461,225,439,242,435,254,442,261,427,259,418,248,407,239,413,239,421,225,425,215,422,215,422" href="#" alt="shikoku" region="shikoku" />
    <area shape="poly" coords="161,425,129,445,134,459,139,447,148,447,155,467,148,484,148,508,151,509,156,496,160,511,167,509,168,499,175,502,190,455,184,441,163,426,163,426" href="#" alt="kyusyu" region="kyusyu" />
  </map>

</body>
