<% provide(:title, "Old") %>
<body>


<section id="sec01">
	<header>
		<h2>熟成米</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<li>
				<%= image_tag 'graph.png' %>
			</li>
			<li>
				<p class="text">
					熟成米は3種類、コシヒカリ・ヒノヒカリ・ひとめぼれです。<br>
					中山間地域の綺麗な水と肥沃な大地からとれたお米を熟成させました。より甘く、旨味のあるお米を是非ご賞味ください。
				</p>
			</li>
		</ul>
	</div>

	<header>
		<h2>コシヒカリ</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<a href="/products/1">
				<li>
					<%= image_tag 'koshihikari.jpg' %>
					<div class="onsale">
						<h3>On Sale<h3>
					</div>
				</li>
			</a>
			<li>
				<p class="text">
					コシヒカリの最大の魅力である美味しさ。その味の特徴は、強い旨みと粘りです。<br>
					また、コシヒカリの美味しさの秘訣は、でんぷんの主成分である「アミロース」と「アミノペクチン」のバランスです。両者は粘り気と旨みに直結している成分であり、反比例の関係にあります。<br>
					コシヒカリはこの両者のバランスが絶妙であり、程良い粘りと強い旨みを感じられるお米です。それゆえ、日本各地で盛んに栽培されており、コシヒカリの味を活かした新品種が次々と開発されているのです。
				</p>
			</li>
		</ul>
	</div>

	<header>
		<h2>ヒノヒカリ</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<a href="/products/1">
				<li>
					<%= image_tag 'hinohikari.png' %>
					<div class="onsale">
						<h3>On Sale<h3>
					</div>
				</li>
			</a>
			<li>
				<p class="text">
					ヒノヒカリは小粒でありながらも非常に良質な食味を持つことで知られています。粒は小さいながらも厚みがあり食べ応えも良く、九州では多くの家庭で使われている非常に知られたお米であり、親しまれた味と言えるでしょう。
				</p>
			</li>
		</ul>
	</div>

	<header>
		<h2>ひとめぼれ</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<a href="/products/1">
				<li>
					<%= image_tag 'hitomebore.png' %>
					<div class="onsale">
						<h3>On Sale<h3>
					</div>
				</li>
			</a>
			<li>
				<p class="text">
					ひとめぼれの名前の由来は「見た目の美しさにひとめぼれ。食べて美味しさにひとめぼれ。愛されるお米」です。その名に恥じないツヤと適度な粘り気、口当たりの良さが魅力のバランスに優れた美味しいお米です。<br>
					コシヒカリ譲りの味や食感の良さは残しながらも、コシヒカリのようにガツンとした強い味ではなく、どちらかというと優しい味わいです。ただ、あきたこまちやササニシキのようなさっぱりとした印象とも違う、ちょうど良いバランスの取れたお米と言えます。そのマイルドな味わいで高齢者層に非常に人気が高いです。
				</p>
			</li>
		</ul>
	</div>
</section>


</body>
