<% provide(:title, "Old") %>
<section id="sec01">
	<header>
		<h2>古米</h2>
	</header>
  <div class="ricelist">
    <a href="#detail1"><%= image_tag 'sec02_01.jpg' %></a>
  </div>
	<div class="about">
		画像をクリックすると詳細１に飛びます．
	</div>

  <div class="ricelist">
    <a href="#detail2"><%= image_tag 'sec02_02.jpg' %></a>
  </div>
	<div class="about">
		画像をクリックすると詳細２に飛びます．
	</div>

  <div class="ricelist">
    <a href="#detail3"><%= image_tag 'sec02_01.jpg' %></a>
  </div>
	<div class="about">
		画像をクリックすると詳細３に飛びます．
	</div>

  <h2>
    <div, id="detail1">詳細1</div>
  </h2>
  <div class="about">
		詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．詳細１です．
	</div>

  <h2>
    <div, id="detail2">詳細2</div>
  </h2>
  <div class="about">
		詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．詳細２です．
	</div>

  <h2>
    <div, id="detail3">詳細3</div>
  </h2>
  <div class="about", id="detail3">
		詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．詳細３です．
	</div>
</section>
