<% provide(:title, "Old") %>
<body>


<section id="sec01">
	<header>
		<h2>玄米</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<li>
				<%= image_tag 'genmai.png', {:class => "genmai"} %>
			</li>
			<li>
				<p class="text">
					栄養豊富な玄米<br>
					玄米は栄養バランスの優れた食材です。<br>
					玄米に含まれる栄養素を見ると、タンパク質、脂質、ミネラル、ビタミンB1、食物繊維が多く含まれています。<br>
					<br>
					体調を整える玄米の成分<br>
					玄米には、ビタミンB群が豊富に含まれており、体調を整えるさまざまな効果があります。<br>
					ビタミンB群の主な働きは、糖質や脂質をエネルギーに変えることです。ビタミンB群が不足すると、便秘や消化不良、神経過敏や肌荒れなどの症状が出やすい体質になります。
				</p>
			</li>
		</ul>
	</div>
</section>

<section>
		<h2>地域を選択してください<h2>
			<%= image_tag "map-1.png", usemap: "#ImageMap", alt: "日本地図", id: "ImageMap-genmai" %>
			<map name="ImageMap">
				<area shape="rect" coords="2,74,461,382" href="#" alt="" region="dummy" />
				<area shape="rect" coords="2,74,461,382" href="#" alt="" region="hokkaido" />
				<area shape="rect" coords="2,74,461,382" href="#" alt="" region="tohoku" />
				<area shape="rect" coords="2,74,461,382" href="#" alt="" region="kanto" />
				<area shape="rect" coords="2,74,461,382" href="#" alt="" region="hokuriku" />
				<area shape="rect" coords="2,74,461,382" href="#" alt="" region="tokai" />
				<area shape="rect" coords="2,74,461,382" href="#" alt="" region="kinki" />
				<area shape="rect" coords="2,74,461,382" href="#" alt="" region="chugoku" />
				<area shape="rect" coords="2,74,461,382" href="#" alt="" region="shikoku" />
				<area shape="rect" coords="2,74,461,382" href="#" alt="" region="kyushu" />

				<area shape="poly" coords="706,3,692,13,702,48,695,87,683,98,686,124,674,130,649,119,643,124,652,138,625,157,622,176,635,193,632,207,634,221,643,218,656,199,673,203,678,200,641,176,647,160,660,161,669,173,698,158,757,191,760,176,796,138,818,140,832,131,846,128,856,117,840,118,829,97,841,74,839,65,817,86,764,69,707,4,707,4" href="/genmaiYukihotaka" alt="" region="hokkaido" />
				<area shape="poly" coords="667,216,692,220,689,266,704,281,714,320,696,347,690,377,668,385,671,440,651,448,637,435,617,444,608,436,608,435,623,414,625,388,612,379,635,309,628,297,623,293,630,277,629,258,644,250,646,231,658,235,658,251,676,246,675,230,662,233,668,216,668,216" href="/genmaiYukihotaka" alt="" region="tohoku" />
				<area shape="poly" coords="616,447,634,435,650,450,669,442,651,486,661,505,648,514,647,530,626,544,625,525,636,513,631,507,615,516,617,530,605,523,595,534,589,522,595,510,583,494,576,467,601,444,616,446,635,436,635,436" href="/genmaiYukihotaka" alt="" region="kanto" />
				<area shape="poly" coords="612,380,624,387,623,413,607,433,615,445,602,443,576,464,583,495,595,509,589,521,568,525,562,512,552,525,537,529,531,506,537,496,535,465,504,471,498,499,479,506,478,506,469,518,460,515,475,504,475,484,504,454,502,426,524,420,524,429,509,433,510,440,517,441,518,453,530,451,566,435,584,406,611,380,611,380" href="/genmaiYukihotaka" alt="" region="hokuriku" />
				<area shape="poly" coords="534,465,536,496,530,506,537,531,552,526,561,512,569,526,590,521,594,534,597,545,587,557,583,547,587,535,575,535,559,558,519,556,502,540,497,556,507,563,508,572,483,581,473,598,469,594,480,564,474,557,484,550,492,536,490,518,480,509,499,500,504,474,534,466,534,466" href="/genmaiYukihotaka" alt="" region="tokai" />
				<area shape="poly" coords="477,509,488,517,490,537,483,551,471,558,479,567,466,595,473,600,466,614,450,609,441,580,455,560,451,553,415,549,410,553,413,528,408,513,407,511,442,506,456,519,459,517,467,520,477,510,477,510" href="/genmai-yukihotaka" alt="" region="kinki" />
				<area shape="poly" coords="407,510,414,528,409,553,341,573,334,567,322,590,309,583,276,583,276,565,290,567,355,517,409,509,409,509" href="/genmaiYukihotaka" alt="" region="chugoku" />
				<area shape="poly" coords="383,574,400,570,418,584,421,598,404,622,385,611,367,620,357,644,344,646,331,612,352,586,364,592,382,587,383,577,383,577" href="/genmaiYukihotaka" alt="" region="shikoku" />
				<area shape="poly" coords="223,622,256,598,276,593,282,607,290,607,301,604,306,611,298,619,301,624,311,624,317,639,302,665,295,705,290,709,282,706,279,710,282,715,269,723,266,696,256,707,262,718,247,716,252,703,251,688,248,683,267,658,254,629,245,631,243,645,231,651,222,622,222,622" href="/genmaiYukihotaka" alt="" region="kyushu" />
			</map>
</section>


</body>
